<footer class="bg-light text-dark p-2 d-flex flex-column flex-md-row">
&copy; {{ ""|date('Y') }} by Chic Shop Johnny Andrianjohary
<div class="container d-flex justify-content-center flex-md-row">
        <a href="" class="bg-light text-dark mx-2">CGV</a>
        <span>|</span>
        <a href="" class="bg-light text-dark mx-2">Politique de confidentialité</a>
        <span>|</span>
        <a href="" class="bg-light text-dark mx-2">Politique en matière de cookies</a>
        <span>|</span>
        <div flex-md-row>
            <a href="" class="bg-light text-dark mx-4"><i class="fab fa-facebook"></i></a>
            <a href="" class="bg-light text-dark mx-4"><i class="fab fa-linkedin"></i></a>
            <a href="" class="bg-light text-dark mx-4"><i class="fab fa-twitter"></i></a>
            <a href="" class="bg-light text-dark mx-4"><i class="fab fa-instagram"></i></a>
        </div>
        <span>|</span>
        <br>   
            <div class="flex-md-row flex-end">
            <address class="mx-4 ">
                Chic Shop <br>
                123 Rue de la Paix 75002 Paris <br>
                Téléphone : 06 75 02 00 <br>
                Email : chicshop@.com
            </address>
            </div>
        </div>
</footer>
