<footer class="bg-light text-dark text-center">
	<div class="container-fluid d-flex flex-column align-items-center justify-content-center">
		<div class="row pt-4">
			<div class="col-md-12">
				<a href="" class="bg-light text-dark mx-2">CGV</a>
				<span>|</span>
				<a href="" class="bg-light text-dark mx-2">Politique de confidentialité</a>
				<span>|</span>
				<a href="" class="bg-light text-dark mx-2">Politique en matière de cookies</a>
				<span>|</span>

				<a href="" class="bg-light text-dark mx-2">
					<i class="fab fa-facebook"></i>
				</a>
				<a href="" class="bg-light text-dark mx-2">
					<i class="fab fa-linkedin"></i>
				</a>
				<a href="" class="bg-light text-dark mx-2">
					<i class="fab fa-twitter"></i>
				</a>
				<a href="" class="bg-light text-dark mx-2">
					<i class="fab fa-instagram"></i>
				</a>
			</div>
		</div>
		<div class="row">
			<div class="col-md-12">
				<address class="p-4">
					Chic Shop
					<br>
					123 Rue de la Paix 75002 Paris
					<br>
					Téléphone : 06 75 02 00
					<br>
					Email : chicshop@.com
					<br>
				</address>
				<div class="mt-4 mb-4">
					&copy;
					{{ ""|date('Y') }}
					by Chic Shop Johnny Andrianjohary
				</div>
			</div>
		</div>
	</div>
</footer>
