<footer class="bg-light text-dark p-3 d-flex">
&copy; {{ ""|date('Y') }} by Chic Shop 


<div class="container d-flex justify-content-center">
    <a href="" class="bg-light text-dark mx-3">CGV</a>
    <span>|</span>
    <a href="" class="bg-light text-dark mx-3">Politique de confidentialité</a>
    <span>|</span>
    <a href="" class="bg-light text-dark mx-3">Politique en matière de cookies</a>
    <span>|</span>
    <a href="" class="bg-light text-dark mx-3">Politique de confidentialité</a>
    <span>|</span>
    <a href="" class="bg-light text-dark mx-3">Politique en matière de cookies</a>
    <span>|</span>
    <a href="" class="bg-light text-dark mx-3"><i class="fab fa-facebook"></i></a>
    <a href="" class="bg-light text-dark mx-3"><i class="fab fa-linkedin"></i></a>       
    <a href="" class="bg-light text-dark mx-3"><i class="fab fa-twitter"></i></a>
    <a href="" class="bg-light text-dark mx-3"><i class="fab fa-instagram"></i></a>
    <span>|</span>
        <address class="  justify-content-center mx-4 d-flex">
            Chic Shop <br>
            123 Rue de la Paix  75002 Paris
            Téléphone : 06 75 02 00  <br> 
            Email : chicshop@.com
        </address>
    
</div>
    
</footer>